<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017, 2020 THALES GLOBAL SERVICES.
     
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Thales - initial API and implementation
 -->

<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="ms"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="org.polarsys.capella.vp.ms.view"
	        resourceId="org.polarsys.capella.vp.ms"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="org.polarsys.capella.vp.ms"
	        tags="vp, stateMutableActivation"
	        name="ms"
	        path="/org.polarsys.capella.vp.ms.af/model/ms.vp#_rs4akLUdEeWSn8ImNVQfrQ"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="org.polarsys.capella.vp.ms.view">
	 	</excludeSources>
	</extension>
</plugin>

