<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2021 THALES GLOBAL SERVICES.
     
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       Thales - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="capella.category/ms"
            name="Modes &amp; States Viewpoint">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.polarsys.org/capella/ms/0.11">
         </package>
         <constraints
               categories="capella.category/ms">
            <constraint
                  class="org.polarsys.capella.vp.ms.validation.ConfigurationElementsInScope"
                  id="ElementsMustBeInScope"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Included/Excluded elements must be in scope"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <target
                     class="CSConfiguration">
               </target>
               <description>
                  Elements referenced by a Configuration's excluded/included feature must be in the scope of the Configuration.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.vp.ms.validation.ConfigurationElementsInScope$Quickfix"
            desc="Remove the reference to the element not in scope"
            label="Remove reference to element">
         <rules
               ruleId="ElementsMustBeInScope">
         </rules>
      </resolver>
   </extension>

</plugin>
